<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VeoTrans</title>
  <link rel="stylesheet" href="/css/GlobalStyle.css">
  <!-- Incluye estilos de Font Awesome -->
<link href="/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet">

</head>

<body>
  <div class="top">
    <a href="#"><img src="/theme/4"></a>
  </div>
  <div class="medium">
    <div class="background">
      <img src="/theme/1">
    </div>
    <div class="botones">
      <div class="boton-box">
        <a href="/movie"><i class="fas fa-film"></i>Peliculas</a>
      </div>
      <div class="boton-box">
        <a href="/song"><i class="fas fa-music"></i>Musica</a>
      </div>
      <div class="boton-box">
        <a href="/about"><i class="fas fa-video-camera"></i>Nosotros</a>
      </div>
    </div>
  </div>
  <div class="bottom">
    <img src="/theme/0">
  </div>
</body>

</html>